PORT=5000
MONGO_URI=mongodb+srv://tracknowapp:T8tn1y04auLc0Dzt@cluster0.ho6x3.mongodb.net/QuizArena?retryWrites=true&w=majority
JWT_SECRET=quizarena_super_secret_jwt_key_2024
CLIENT_URL=https://quiz-arena-indol.vercel.app
ADMIN_URL=https://quiz-arena-admin.vercel.app
ALLOWED_ORIGINS=https://quiz-arena-indol.vercel.app,https://quiz-arena-admin.vercel.app,http://localhost:5173,http://localhost:5174
